.home{
    /* Subtract */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Neutral/#242424 */
border: 1px solid #242424;

}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0px;
    top:0px;
    background-color: #c8d6d3a1;
    /* border-radius: 30px; */
    padding: 15px;
    height: -webkit-fill-available;
    justify-content: flex-end;
}

.inside{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0px;
    top:0px;
    background-color: #a2bab47d;
    /* border-radius: 30px; */
    padding: 55px 15px 15px 15px;
    height: -webkit-fill-available;
}

.img{
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}